﻿@model Example.ViewModel.BMIData
@{
    ViewBag.Title = "Home Page";
}

<form method="post" action="@Url.Action("Index")">
    身高 @Html.TextBoxFor(a=>a.Height)公分 @ViewBag.HeightError <br />
    體重 @Html.TextBoxFor(b=>b.Weight)公斤 @ViewBag.WeightError<br />
    <input type="submit" value="送出" />
</form>
<br />
計算結果： @Model.BMI <br />
等級： @Model.Level